/*
 * General panel settings
 */

LXQtPanel #BackgroundWidget {
    background: palette(base);
}

/*
 * General plugins settings
 */

Plugin > QToolButton,
Plugin > QWidget > QToolButton,
Plugin > QWidget > QToolButton > QWidget > QToolButton,
LXQtPanelPlugin > QToolButton {
    margin: 0;
    padding: 4px;
    border: 1px solid transparent;
    qproperty-iconSize: 24px;
}

/*
 * Main menu
 */

#MainMenu {
    qproperty-icon: url(mainmenu.svg);
    padding: 4px;
}

#MainMenu:pressed {
    padding: 6px;
}

#MainMenu QMenu {
    border: 1px solid palette(dark);
    border-radius: 2px;
    background: palette(base);
    color: palette(text);
    padding: 4px;
}

#MainMenu  QToolButton {
    background-color: palette(base);
    color: palette(text);
}

#MainMenu QMenu::icon {
    background-color: transparent;
    border: 2px solid transparent;
}

#MainMenu QMenu::item {
    color: palette(text);
}

#MainMenu QMenu::item:disabled {
    color: palette(highlighted-text);
}

#MainMenu QMenu::item:selected {
    color: palette(text);
    background: palette(alternate-base);
    border-left: 3px solid palette(highlight);

}

#MainMenu QMenu::item:selected:disabled {
    color: palette(highlighted-text);
    background: palette(highlight);
}


/*
 * TaskBar
 */
#TaskBar QToolButton {
    color: palette(text);
    border: 3px solid transparent;
    padding: 2px;
}

#TaskBar QToolButton:on {
    border-top: 3px solid palette(highlight);
    color: palette(text);
}

#TaskBar QToolButton:on:hover {
    border-top: 3px solid palette(highlight);
    background: palette(alternate-base);
}

#TaskBar QToolButton:hover {
    border-top: 3px solid transparent;
    background: palette(alternate-base);
}

#TaskBar QToolButton:pressed {
    padding: 3px;
    border-top: 3px solid palette(highlight);
    background: palette(alternate-base);
}

#TaskBar QToolButton[urgent="true"] {
    color: palette(text);
    background: palette(highlight);
}

#TaskBar LXQtGroupPopup {
    background: palette(base);
    border: 1px solid palette(highlight);
    border-radius: 2px;
}

#TaskBar LXQtGroupPopup QToolButton {
    border: 1px solid transparent;
    border-radius: 2px;
}

#TaskBar LXQtGroupPopup QToolButton:on {
    background: palette(highlight);
    color: palette(highlighted-text);
}

#TaskBar LXQtGroupPopup QToolButton:on:hover {
    border: 1px solid palette(highlight);
    background: palette(alternate-base);
    color: palette(text);
}

#TaskBar LXQtGroupPopup QToolButton:hover {
    border: 1px solid palette(highlight);
    background: palette(alternate-base);
    color: palette(text);
}


 /*
 * QuickLaunch
 */
#QuickLaunchPlaceHolder {
    color: palette(highlight);
    padding: 2px;
}

/*
 * Desktopswitch
 */

#DesktopSwitch {
    margin: 4px;
}

#DesktopSwitch QToolButton{
    margin: 1px;
    padding: 1px;
    border: 1px solid transparent;
    color: palette(text);
}

#DesktopSwitch QToolButton:hover{
    border: 1px solid palette(highlight);
    color: palette(dark);
}

#DesktopSwitch QToolButton:pressed{
    border: 1px solid palette(highlight);
    background: palette(highlight);
    color: palette(highlighted-text);
}

#DesktopSwitch QToolButton:on{
    border: 1px solid palette(highlight);
    background: palette(mid);
    color: palette(highlighted-text);
}

#DesktopSwitch QToolButton[urgent="true"] {
    border: 1px solid palette(highlight);
    background: palette(mid);
    color: palette(text);
}

/*
 * #SysStat
 */

#SysStat_Graph {
    qproperty-gridColor: palette(dark);
    qproperty-titleColor: palette(text);
    qproperty-cpuSystemColor: palette(highlight);
    qproperty-memAppsColor: palette(highlight);
    qproperty-memBuffersColor: palette(mid);
    qproperty-memCachedColor: palette(shadow);
    qproperty-swapUsedColor: palette(highlight);
    qproperty-netReceivedColor: palette(highlight);
    qproperty-netTransmittedColor: palette(shadow);
}

/*
 * CPU monitor
 */

#LXQtCpuLoad {
    qproperty-fontColor: palette(text);
}

/*
 * Volume plugin
 */

VolumePopup {
    border: 1px solid palette(dark);
    border-radius: 2px;
    background: palette(base);
    padding: 4px;
}

VolumePopup  > QPushButton {
    margin: 4px;
    qproperty-iconSize: 22px;
    padding: 4px 16px;
}

/*
 * Spacer
 */

#Spacer {
    background-position: center center;
}

#Spacer[type="lined"] {
    background-image: url(/spacer-plugin/spacer-line.svg);
}

#Spacer[type="dotted"] {
    background-image: url(/spacer-plugin/spacer-dots.svg);
 }

#Spacer[orientation="horizontal"] {
    background-repeat: repeat-y;
    margin-top: 2px;
    margin-bottom: 2px;
}

#Spacer[orientation="vertical"] {
    background-repeat: repeat-x;
    margin-right: 2px;
    margin-left: 2px;
}

/*
 * WorldClock
 */

#WorldClockContent {
    margin-right: 4px;
}
